<template>
  <div>
    <v-layout row wrap align-content-end>
      <v-flex md10 xs6>
        <select2 :data="cities"
                 :value="selectedCity"
                 @update="update($event)">
        </select2>
      </v-flex>
      <v-flex md2 xs6>
        <v-btn
          color="primary"
          :disabled="isDisabled"
          @click="getCityWoeId"
        >
          Check weather
        </v-btn>
      </v-flex>
    </v-layout>

    <v-layout>
      <V-flex>
        <no-results v-if="weatherDetails.length < 1 && !isLoading">
          {{noDataMessage}}
        </no-results>

        <weather-chart v-if="weatherDetails.length > 1" :weatherDetails="weatherDetails"></weather-chart>

        <v-progress-linear :indeterminate="true" v-if="isLoading"></v-progress-linear>
      </V-flex>
    </v-layout>
  </div>
</template>

<script>
  import "select2-vue-component";
  import SelectOptionFactory from '../../models/SelectOption/SelectOptionFactory'
  import {woeIdApi, weatherDetailsApi} from '../../utils/const'
  import axios from 'axios'

  import WeatherChart from './WeatherChart'
  import NoResults from '../common/NoResults'

  export default {
    name: 'WeatherDetails',
    components: {NoResults, WeatherChart},
    data: () => ({
      selectedCity: null,
      isLoading: false,
      noDataMessage: "No data were collected yet",
      cities: [
        SelectOptionFactory('Warszawa', 'warsaw'),
        SelectOptionFactory('Manchester', 'manchester'),
        SelectOptionFactory('Berlin', 'berlin')
      ],
      weatherDetails: []
    }),
    computed: {
      isDisabled () {
        return this.selectedCity === null
      }
    },
    methods: {
      /**
       * Used for update selected value from select2 input.
       * @param {String} value - Currently selected city.
       */
      update (value) {
        this.selectedCity = value
      },
      /**
       * Gets woeId of selected city and uses it for accessing city weather details.
       */
      getCityWoeId () {
        axios
          .get(woeIdApi, {
            params: {
              query: this.selectedCity
            }
          })
          .then((response) => {
            this.isLoading = true
            this.weatherDetails = []

            const promises = this.getWeatherDetailsPromises(response)

            this.setWeatherDetails(promises)
          })
          .catch((error) => {
            this.noDataMessage = `😞 Oh crap! ${error}. Please try again later.`
          })
      },
      /**
       * Gets weather details from weatherDetailsApi using given woeId.
       * @param {Int} woeId - The city id from woeIdApi.
       * @param {Int} cityPart - The current loop index from city parts array.
       * @returns {Promise<AxiosResponse<any> | never>}
       */
      getWeatherDetails (woeId, cityPart) {
        return axios
          .get(`${weatherDetailsApi}/${woeId}`)
          .catch((error) => {
            if (cityPart.length > 0) {
              alert('Could not load all data.')
            }

            this.noDataMessage = `😞 Oh crap! ${error}. Please try again later.`
          })
      },
      /**
       * Gets array of weatherDetailsApi calls promises.
       * @param {Object} response - The axios response.
       * @returns {Array}
       */
      getWeatherDetailsPromises (response) {
        let cityParts = response.data.length
        let promises = []

        for (let i = 0; i < cityParts; i++) {
          promises.push(this.getWeatherDetails(response.data[i].woeid, i))
        }

        return promises
      },
      /**
       * Calls promises in given array and sets weatherDetails.
       * @param {Array} promises
       */
      setWeatherDetails (promises) {
        const details = []

        Promise
          .all(promises)
          .then((res) => {
            res.map(({data: {consolidated_weather}}) => details.push(...consolidated_weather))

            this.weatherDetails = details.map(({min_temp, max_temp, created}) => ({
              min_temp,
              max_temp,
              created: new Date(created)
            }))
          })
          .finally(() => {
            this.isLoading = false
          })
      }
    }
  }
</script>
