<template>
  <div>
    <div class="weather-chart-container" ref="chartDiv">
    </div>
  </div>
</template>

<script>
  import * as am4core from '@amcharts/amcharts4/core';
  import * as am4charts from '@amcharts/amcharts4/charts';
  import am4themes_animated from '@amcharts/amcharts4/themes/animated';

  am4core.useTheme(am4themes_animated);

  export default {
    name: 'WeatherChart',
    props: {
      weatherDetails: {
        type: Array,
        required: true
      }
    },
    data: () => ({
      chart: null
    }),
    mounted() {
      /**
       * @see https://www.amcharts.com/docs/v4/getting-started/integrations/using-vue-js/
       * @see https://codepen.io/team/amcharts/pen/jZjJaY
       */
      am4core.useTheme(am4themes_animated);
      this.chart = am4core.create(this.$refs.chartDiv, am4charts.XYChart)

      this.chart.paddingRight = 20;
      this.chart.data = this.weatherDetails

      let dateAxis = this.chart.xAxes.push(new am4charts.DateAxis())
      let valueAxis = this.chart.yAxes.push(new am4charts.ValueAxis())
      valueAxis.tooltip.disabled = false

      let series = this.chart.series.push(new am4charts.LineSeries())
      series.dataFields.dateX = 'created'
      series.dataFields.openValueY = 'min_temp'
      series.dataFields.valueY = 'max_temp'
      series.tooltipText = 'min: {openValueY.value} max: {valueY.value}'
      series.sequencedInterpolation = false
      series.fillOpacity = 0.3
      series.defaultState.transitionDuration = 1000
      series.tensionX = 0.8

      let series2 = this.chart.series.push(new am4charts.LineSeries())
      series2.dataFields.dateX = 'created'
      series2.dataFields.valueY = 'max_temp'
      series2.sequencedInterpolation = true
      series2.defaultState.transitionDuration = 1500
      series2.stroke = this.chart.colors.getIndex(6)
      series2.tensionX = 0.8

      this.chart.cursor = new am4charts.XYCursor()
      this.chart.cursor.xAxis = dateAxis
      this.chart.scrollbarX = new am4core.Scrollbar()
    },

    beforeDestroy() {
      if (this.chart) {
        this.chart.dispose();
      }
    }
  }
</script>

<style scoped>
  .weather-chart-container {
    width: 100%;
    height: 500px;
  }
</style>