<template>
  <div>
    <v-toolbar app>
      <v-toolbar-title class="primary--text">Weather charts app</v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    name: 'NavigationBar'
  }
</script>
