<template>
  <v-content>
    <v-container>
      <weather-details></weather-details>
    </v-container>
  </v-content>
</template>

<script>
  import WeatherDetails from '../components/weatherChart/WeatherDetails'

  export default {
    name: 'Index',
    components: {WeatherDetails}
  }
</script>