<template>
  <v-app>
    <navigation-bar></navigation-bar>
    
    <index></index>
    
    <footer></footer>
  </v-app>
</template>

<script>
  import NavigationBar from './components/navigation/NavigationBar'
  import Index from './views/Index'
  import Footer from './components/footer/Footer'

  export default {
    name: 'App',
    components: {Footer, Index, NavigationBar}
  }
</script>
